* { margin: o;
    padding: 0;
    box-sizing: border-box;}


body { display: flex;
       width: 100%;
       flex-direction: column;
       justify-content: center;
     }

header {display: flex;
        justify-content: center;
        background-color: antiquewhite;} 

main{   display: flex;
        flex-direction:row ;}  

footer{ display: flex; 
        width: 100%;
        background-color: aquamarine;
        justify-content: space-around;} 

article {display: flex;
        flex-direction: column;
        justify-content: center;
         width: 1200px;
         background-color: beige;
         align-items: flex-start;

} 
aside {display: flex;
       width: 800px;
       background-color: bisque;
       justify-content: center;} 

footer p { display: flex;
           justify-content: center;
           align-items: center;
           width: 400px;
           height: 50px;
           background-color: aqua;}  

 div p { background-color: azure;}
 
.part1 {display: flex;
        justify-content: space-around;
        }
#part1 { display: flex;
         justify-content: center;
         align-items: center;
         width: 500px;
         height: 50px;}

#part2 { display: flex;
         justify-content: center;
         align-items: center;
         width: 500px;} 

#part3 { display: flex;
         justify-content: center;
        align-items: center;
         height: 50px;
         width: 1050px;
         margin: 20px;}     
  
h2 { display: flex;
     align-self: center;
     height: 200px;}                                                      